<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% set title = block('title') ?? '' -%}
        <title>{% if title is not empty %}{{ title | striptags | raw  }} - Hanna Stelmakh{% else %}Hanna Stelmakh - UI/UX Designer{% endif %}</title>
        {% set meta_description = block('meta_description') ?? '' -%}
        {% if meta_description is not empty %}<meta name="description" content="{{ meta_description | striptags | raw }}">{% endif %}

        <link rel="icon" type="image/png" href="{{ asset_path('@Core/favicon/favicon-96x96.png') }}" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="{{ asset_path('@Core/favicon/favicon.svg') }}" />
        <link rel="shortcut icon" href="{{ asset_path('@Core/favicon/favicon.ico') }}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset_path('@Core/favicon/apple-touch-icon.png') }}" />

        {{ asset_import('@Core/main.js') }}
        {% block head %}{% endblock %}
    </head>

    {% set body_class = block('body_class') ?? '' -%}
    <body class="{{ body_class | striptags | raw  }}">
        {% block body %}{% endblock %}
    </body>
</html>
