{# @var project \App\Projects\Project #}

{% extends '@Projects~_shared/_project.html.twig' %}

{% block head %}
    {{ parent() }}
    {{ asset_import('@Projects~' ~ project.slug ~ '/main.js') }}
{% endblock %}

{% block content_project %}
    <section class="title">
        <div class="layout-content">
            <h1>{{ project.name }}</h1>
            <img src="{{ asset_path('@Projects~' ~ project.slug ~ '/images/mango-logo.svg') }}" alt="mango logo">
        </div>
    </section>

    <section class="cover">
        <div class="layout-content"></div>
    </section>

    <section class="about">
        <div class="layout-content">
            <div class="headline">
                <h2>About the Project</h2>

                <div class="description">
                    Managing a team can be tricky — too many tasks, scattered information, and constant scheduling
                    issues. Mango makes it easier. It’s a <strong>smart tool</strong> that <strong>helps managers
                    organize processes and plan resources better</strong>. With Mango, managing a team becomes simple,
                    connected, and ready for the future.
                </div>
            </div>
        </div>
    </section>

    <section class="focus">
        <div class="layout-content">
            <div class="headline">
                <h2>Main Focus</h2>

                <div class="description">
                    My mission was clear: create a system that supports efficient management, smart data tracking, and
                    digital employee information — all within one intuitive platform. Every feature had to work
                    together seamlessly, helping teams move faster, smarter, and with confidence.
                </div>
            </div>

            <ul class="list">
                {% set items = [
                    {
                        'title': 'Efficient Management',
                        'icon': 'calendar',
                        'text': 'Set up a clear and easy process for requesting time off, keeping track of requests, and approving them quickly.',
                    },
                    {
                        'title': 'Data Tracking',
                        'icon': 'chart',
                        'text': 'Provide real-time access to important metrics so that actions can be taken quickly.',
                    },
                    {
                        'title': 'Digital Employee Info',
                        'icon': 'file',
                        'text': 'Store all employee info, like contacts and performance reviews, in one place.',
                    },
                ] %}
                {% for item in items %}
                    <li>
                        <div class="head">
                            <h3 class="title">{{ item.title }}</h3>
                            <div class="icon {{ item.icon }}" aria-hidden="true"></div>
                        </div>
                        <p class="text">{{ item.text }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class="identity">
        <div class="layout-content">
            <div class="headline">
                <h2>Symbolic Identity</h2>

                <div class="description">
                    The logo had to be more than just a name — it had to feel alive. Inspired by the fresh energy of a
                    mango fruit, I merged letterforms with imagery to craft a logo that’s vibrant, memorable, and
                    immediately recognizable. A playful yet professional identity for a future-ready tool.
                </div>
            </div>

            <div class="sketches">
                <div class="combination">
                    <img src="{{ asset_path('@Projects~' ~ project.slug ~ '/images/identity/combination.svg') }}" alt="mango logo combination">
                </div>
                <img data-lightbox="on-small-vw" data-lightbox-scale="1" src="{{ asset_path('@Projects~' ~ project.slug ~ '/images/identity/sketches.svg') }}" alt="mango logo sketches">
            </div>
        </div>
    </section>

    <section class="logo">
        <div class="layout-content">
            <div class="headline">
                <h2>From Sketches</h2>

                <div class="description">
                    Starting with pen and paper, I explored countless ideas. After multiple iterations in Illustrator,
                    the final design emerged: a simple, elegant solution using letterforms symbolically and harmoniously
                    — a logo that feels as intuitive as the product itself.
                </div>
            </div>

            <ul class="variations">
                {% set items = [
                    {
                        'background': 'black',
                        'image': 'logo-white.svg',
                    },
                    {
                        'background': 'white',
                        'image': 'logo-black.svg',
                    },
                    {
                        'background': 'yellow',
                        'image': 'logo-mono.svg',
                    },
                ] %}
                {% for item in items %}
                    <li class="{{ item.background }}">
                        <img src="{{ asset_path('@Projects~' ~ project.slug ~ '/images/logo/' ~ item.image) }}" alt="mango logo {{ item.background }}">
                    </li>
                {% endfor %}
            </ul>

            <div class="pattern"></div>
        </div>
    </section>

    <section class="colors">
        <div class="layout-content">
            <div class="headline">
                <h2>Bold and Warm Colors</h2>

                <div class="description">
                    The color palette had to feel powerful yet welcoming. I chose bold, warm, and neutral shades that
                    balance energy with sophistication. They’re engaging enough to catch the eye, but soft enough to
                    create a positive, trustful environment — the perfect backdrop for managing people and processes.
                </div>
            </div>

            <ul class="list">
                {% set items = [
                    {
                        'name': 'yellow',
                        'hex': '#F5C05C',
                    },
                    {
                        'name': 'green',
                        'hex': '#98C28F',
                    },
                    {
                        'name': 'black',
                        'hex': '#111212',
                    },
                    {
                        'name': 'white',
                        'hex': '#FFFFFF',
                    },
                ] %}
                {% for item in items %}
                    <li class="{{ item.name }}">
                        <div class="icon" aria-hidden="true"></div>
                        <div class="hex">{{ item.hex }}</div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class="typography">
        <div class="layout-content">
            <div class="headline">
                <h2>Clean and Clear Typography</h2>

                <div class="description">
                    Typography matters when you need clarity. I picked <strong>Poppins</strong>, a geometric sans-serif with wide
                    letterforms and easy readability. It ensures that every piece of information is accessible and
                    friendly, enhancing the user experience without distracting from the platform’s core functions.
                </div>
            </div>

            <div class="preview">
                <img src="{{ asset_path('@Projects~' ~ project.slug ~ '/images/typography/preview-ab.svg') }}" alt="Poppins font preview with Ab letters">

                <div class="text">
                    <img src="{{ asset_path('@Projects~' ~ project.slug ~ '/images/typography/preview.svg') }}" alt="Poppins font preview semi-bold and regular">
                </div>
            </div>
        </div>
    </section>

    <section class="login">
        <div class="layout-content">
            <video class="screenshot" src="{{ asset_path('@Projects~' ~ project.slug ~ '/images/login/login.mp4') }}" autoplay muted loop playsinline aria-label="mango platform login screen recording"></video>
        </div>
    </section>

    <section class="dashboard">
        <div class="layout-content">
            <div class="headline">
                <h2>Dashboard</h2>

                <div class="description">
                    The dashboard brings critical information to life. Managers can monitor indicators, stats, and
                    insights in real time — all laid out clearly for quick decision-making. No need to dig through data
                    — Mango puts what matters most right in front of user.
                </div>
            </div>

            <img class="screenshot" data-lightbox="on-small-vw" data-lightbox-scale="0.5" src="{{ asset_path('@Projects~' ~ project.slug ~ '/images/dashboard/dashboard.png') }}" alt="mango dashboard screenshot">
        </div>
    </section>

    <section class="calendar">
        <div class="layout-content">
            <div class="headline">
                <h2>Smooth Scheduling</h2>

                <div class="description">
                    Managing time off can be chaotic. That’s why Mango’s calendar makes it simple to view and approve
                    employee leave requests. It supports smarter planning, reduces scheduling gaps, and encourages a
                    healthy work-life balance for everyone on the team.
                </div>
            </div>

            <img class="screenshot" data-lightbox="on-small-vw" data-lightbox-scale="0.5" src="{{ asset_path('@Projects~' ~ project.slug ~ '/images/calendar/calendar.png') }}" alt="mango calendar screenshot">
        </div>
    </section>

    <section class="calendar-video">
        <div class="layout-content">
            <video class="screenshot" src="{{ asset_path('@Projects~' ~ project.slug ~ '/images/calendar-video/calendar.mp4') }}" autoplay muted loop playsinline aria-label="mango platform calendar interaction screen recording"></video>
        </div>
    </section>

    <section class="employees">
        <div class="layout-content">
            <div class="headline">
                <h2>Confident Management</h2>

                <div class="description">
                    Personal data management is a big responsibility. Mango’s Employees section lets managers handle
                    work schedules, profiles, and account access securely — building a confident, organized team
                    environment where trust and professionalism thrive.
                </div>
            </div>

            <img class="screenshot" data-lightbox="on-small-vw" data-lightbox-scale="0.5" src="{{ asset_path('@Projects~' ~ project.slug ~ '/images/employees/employees-list.png') }}" alt="mango employees list screenshot">

            <ul class="edit">
                {% set items = [
                    {
                        'image': 'edit-account.png',
                        'alt': 'mango edit employee account data screenshot',
                    },
                    {
                        'image': 'edit-delete_account.png',
                        'alt': 'mango delete employee screenshot',
                    },
                    {
                        'image': 'edit-general.png',
                        'alt': 'mango edit employee general data screenshot',
                    },
                    {
                        'image': 'edit-work.png',
                        'alt': 'mango edit employee work data screenshot',
                    },
                ] %}
                {% for item in items %}
                <li>
                    <img class="screenshot" data-lightbox data-lightbox-scale="0.5" src="{{ asset_path('@Projects~' ~ project.slug ~ '/images/employees/' ~ item.image) }}" alt="{{ item.alt }}">
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class="components">
        <div class="layout-content">
            <div class="headline">
                <h2>UI Components</h2>

                <div class="description">
                    Consistency creates confidence. I developed a full component library filled with ready-to-use UI
                    elements, making it easier for the platform to feel polished, coherent, and user-friendly at every
                    click. A strong backbone for a smooth experience.
                </div>
            </div>

            <div class="fade">
                <img data-lightbox="on-small-vw" data-lightbox-scale="1" src="{{ asset_path('@Projects~' ~ project.slug ~ '/images/components/components.svg') }}" alt="mango components subset">
            </div>
        </div>
    </section>

    <section class="splash">
        <div class="layout-content">
            <img src="{{ asset_path('@Projects~' ~ project.slug ~ '/images/splash/splash.png') }}" alt="laptop mockup with mango screenshots">
        </div>
    </section>

    <section class="reflections">
        <div class="layout-content">
            <div class="headline">
                <h2>Reflections & Takeaways</h2>

                <div class="description">
                    Taking on both UI and branding responsibilities made this project a real learning experience. While
                    it pushed me outside of my comfort zone, it also helped me sharpen my visual design abilities. Due
                    to limited team capacity, we couldn’t implement everything we envisioned, and only some parts of the
                    interface became available to users.
                </div>
            </div>
        </div>
    </section>
{% endblock %}
