{# @var project \App\Projects\Project #}

{% extends '@Projects~_shared/_project.html.twig' %}

{% block head %}
    {{ parent() }}
    {{ asset_import('@Projects~' ~ project.slug ~ '/main.js') }}
{% endblock %}

{% block content_project %}
    <section class="title">
        <div class="layout-content">
            <h1>{{ project.name }}</h1>
            <img src="{{ asset_path('@Projects~' ~ project.slug ~ '/images/mango-logo.svg') }}" alt="mango logo">
        </div>
    </section>

    <section class="cover">
        <div class="layout-content"></div>
    </section>

    <section class="about">
        <div class="layout-content">
            <div class="headline">
                <h2>About the Project</h2>

                <div class="description">
                    Managing a team can be tricky — too many tasks, scattered information, and constant scheduling
                    issues. Mango makes it easier. It’s a <strong>smart tool</strong> that <strong>helps managers
                    organize processes and plan resources better</strong>. With Mango, managing a team becomes simple,
                    connected, and ready for the future.
                </div>
            </div>
        </div>
    </section>

    <section class="focus">
        <div class="layout-content">
            <div class="headline">
                <h2>Main Focus</h2>

                <div class="description">
                    My mission was clear: create a system that supports efficient management, smart data tracking, and
                    digital employee information — all within one intuitive platform. Every feature had to work
                    together seamlessly, helping teams move faster, smarter, and with confidence.
                </div>
            </div>

            <ul class="list">
                {% set items = [
                    {
                        'title': 'Efficient Management',
                        'icon': 'calendar',
                        'text': 'Set up a clear and easy process for requesting time off, keeping track of requests, and approving them quickly.',
                    },
                    {
                        'title': 'Data Tracking',
                        'icon': 'chart',
                        'text': 'Provide real-time access to important metrics so that actions can be taken quickly.',
                    },
                    {
                        'title': 'Digital Employee Info',
                        'icon': 'file',
                        'text': 'Store all employee info, like contacts and performance reviews, in one place.',
                    },
                ] %}
                {% for item in items %}
                    <li>
                        <div class="head">
                            <h3 class="title">{{ item.title }}</h3>
                            <div class="icon {{ item.icon }}" aria-hidden="true"></div>
                        </div>
                        <p class="text">{{ item.text }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class="identity">
        <div class="layout-content">
            <div class="headline">
                <h2>Symbolic Identity</h2>

                <div class="description">
                    The logo had to be more than just a name — it had to feel alive. Inspired by the fresh energy of a
                    mango fruit, I merged letterforms with imagery to craft a logo that’s vibrant, memorable, and
                    immediately recognizable. A playful yet professional identity for a future-ready tool.
                </div>
            </div>

            <div class="sketches">
                <div class="combination">
                    <img src="{{ asset_path('@Projects~' ~ project.slug ~ '/images/identity/combination.svg') }}" alt="mango logo combination">
                </div>
                <img class="lightbox-on-small-vw" data-lightbox-scale="1" src="{{ asset_path('@Projects~' ~ project.slug ~ '/images/identity/sketches.svg') }}" alt="mango logo sketches">
            </div>
        </div>
    </section>

    <section class="logo">
        <div class="layout-content">
            <div class="headline">
                <h2>From Sketches</h2>

                <div class="description">
                    Starting with pen and paper, I explored countless ideas. After multiple iterations in Illustrator,
                    the final design emerged: a simple, elegant solution using letterforms symbolically and harmoniously
                    — a logo that feels as intuitive as the product itself.
                </div>
            </div>

            <ul class="variations">
                {% set items = [
                    {
                        'background': 'black',
                        'image': 'logo-white.svg',
                    },
                    {
                        'background': 'white',
                        'image': 'logo-black.svg',
                    },
                    {
                        'background': 'yellow',
                        'image': 'logo-mono.svg',
                    },
                ] %}
                {% for item in items %}
                    <li class="{{ item.background }}">
                        <img src="{{ asset_path('@Projects~' ~ project.slug ~ '/images/logo/' ~ item.image) }}" alt="mango logo {{ item.background }}">
                    </li>
                {% endfor %}
            </ul>

            <div class="pattern"></div>
        </div>
    </section>
{% endblock %}
