{# @var project \App\Projects\Project #}

{% extends '@Projects~_shared/_project.html.twig' %}

{% block content_project %}
    <section class="title">
        <div class="layout-content">
            <h1>{{ project.name }}</h1>
            <img src="{{ asset_path('@Projects~' ~ project.slug ~ '/images/byrd-logo.svg') }}" alt="byrd logo">
        </div>
    </section>

    <section class="cover">
        <div class="layout-content"></div>
    </section>

    <section class="about">
        <div class="layout-content">
            <div class="headline">
                <h2>About the Project</h2>

                <div class="description">
                    When I joined Byrd, the company was in the midst of scaling its digital products. There was a
                    challenge — no unified design system that could ensure consistency across all platforms. My
                    colleague, <strong>Vedran Jukić</strong> had already kickstarted the process by laying the
                    foundation, but it needed refining and expanding. This was where I came in. Together, we embarked
                    on the journey to create a seamless, cohesive design system for Byrd’s ever-growing product suite.
                </div>
            </div>
        </div>
    </section>

    <section class="highlights">
        <div class="layout-content">
            <div class="headline">
                <h2>Clean Design Library</h2>
            </div>

            <ul class="list">
                {% set items = [
                    {
                        'image': 'icons.png',
                        'alt': 'Byrd icons example',
                        'text': '152 Hand-crafted icons',
                    },
                    {
                        'image': 'components.png',
                        'alt': 'Byrd components example',
                        'text': '58 Components',
                    },
                    {
                        'image': 'variants.png',
                        'alt': 'Byrd variants example',
                        'text': '240 Variants',
                    },
                ] %}
                {% for item in items %}
                    <li>
                        <img src="{{ asset_path('@Projects~' ~ project.slug ~ '/images/highlights/' ~ item.image) }}" alt="{{ item.alt }}">
                        <div class="text">{{ item.text }}</div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class="colors">
        <div class="layout-content">
            <div class="headline">
                <h2>The Power of Color</h2>

                <div class="description">
                    We needed a color palette that was not only visually appealing but also functional across all
                    products and branding materials. The challenge? Balancing boldness with warmth while maintaining a
                    professional look. After carefully selecting the shades, we created a vibrant yet balanced palette
                    that makes the user experience feel both dynamic and welcoming.
                </div>
            </div>

            <ol class="accordion">
                <li class="primary">
                    <div class="text white">Brand / Primary</div>
                </li>
                <li class="secondary">
                    <div class="text white">Brand / Secondary</div>
                </li>
                <li class="tertiary">
                    <div class="text balck">Brand / Tertiary</div>
                </li>
            </ol>
            
            <ul class="list">
                {% set colors = [
                    {
                        'name': 'Brand / Primary',
                        'hex': '#293141',
                        'textColor': 'white',
                        'isFullWidth': false,
                        'shades': [
                            {'name': '800', 'hex': '#10141A', 'textColor': 'white'},
                            {'name': '600', 'hex': '#212734', 'textColor': 'white'},
                            {'name': '400', 'hex': '#545A67', 'textColor': 'white'},
                            {'name': '100', 'hex': '#D4D6D9', 'textColor': 'black'},
                        ]
                    },
                    {
                        'name': 'Brand / Secondary',
                        'hex': '#62C2AF',
                        'textColor': 'white',
                        'isFullWidth': false,
                        'shades': [
                            {'name': '800', 'hex': '#274E46', 'textColor': 'white'},
                            {'name': '600', 'hex': '#4E9B8C', 'textColor': 'white'},
                            {'name': '400', 'hex': '#81CEBF', 'textColor': 'white'},
                            {'name': '100', 'hex': '#E0F3EF', 'textColor': 'black'},
                        ]
                    },
                    {
                        'name': 'Functional / Info',
                        'hex': '#3F8BBD',
                        'textColor': 'white',
                        'isFullWidth': false,
                        'shades': [
                            {'name': '800', 'hex': '#19384C', 'textColor': 'white'},
                            {'name': '600', 'hex': '#326F97', 'textColor': 'white'},
                            {'name': '400', 'hex': '#65A2CA', 'textColor': 'white'},
                            {'name': '100', 'hex': '#D9E8F2', 'textColor': 'black'},
                        ]
                    },
                    {
                        'name': 'Functional / Warning',
                        'hex': '#F5A623',
                        'textColor': 'black',
                        'isFullWidth': false,
                        'shades': [
                            {'name': '800', 'hex': '#62420E', 'textColor': 'white'},
                            {'name': '600', 'hex': '#C4851C', 'textColor': 'white'},
                            {'name': '400', 'hex': '#F7B84F', 'textColor': 'white'},
                            {'name': '100', 'hex': '#FDEDD3', 'textColor': 'black'},
                        ]
                    },
                    {
                        'name': 'Functional / Danger',
                        'hex': '#FD5C63',
                        'textColor': 'white',
                        'isFullWidth': false,
                        'shades': [
                            {'name': '800', 'hex': '#652528', 'textColor': 'white'},
                            {'name': '600', 'hex': '#CA4A4F', 'textColor': 'white'},
                            {'name': '400', 'hex': '#FD7D82', 'textColor': 'white'},
                            {'name': '100', 'hex': '#FFDEE0', 'textColor': 'black'},
                        ]
                    },
                    {
                        'name': 'Functional / Success',
                        'hex': '#12B76A',
                        'textColor': 'white',
                        'isFullWidth': false,
                        'shades': [
                            {'name': '800', 'hex': '#07492A', 'textColor': 'white'},
                            {'name': '600', 'hex': '#0E9255', 'textColor': 'white'},
                            {'name': '400', 'hex': '#41C588', 'textColor': 'white'},
                            {'name': '100', 'hex': '#D0F1E1', 'textColor': 'black'},
                        ]
                    },
                    {
                        'name': 'Neutral',
                        'hex': '#989898',
                        'textColor': 'white',
                        'isFullWidth': true,
                        'shades': [
                            {'name': '900', 'hex': '#191919', 'textColor': 'white'},
                            {'name': '800', 'hex': '#323232', 'textColor': 'white'},
                            {'name': '700', 'hex': '#4C4C4C', 'textColor': 'white'},
                            {'name': '600', 'hex': '#656565', 'textColor': 'white'},
                            {'name': '500', 'hex': '#7F7F7F', 'textColor': 'white'},
                            {'name': '400', 'hex': '#989898', 'textColor': 'white'},
                            {'name': '300', 'hex': '#B2B2B2', 'textColor': 'white'},
                            {'name': '200', 'hex': '#CBCBCB', 'textColor': 'black'},
                            {'name': '100', 'hex': '#E5E5E5', 'textColor': 'black'},
                            {'name': '50', 'hex': '#F2F2F2', 'textColor': 'black'},
                        ]
                    }
                ] %}

                {% for color in colors %}
                    <li class="color{{ color.isFullWidth ? ' full-width' : '' }}">
                        <div class="card">
                            <div class="main text-{{ color.textColor }}" style="background-color: {{ color.hex }}">
                                <span class="name">{{ color.name }}</span>
                                <span class="hex">{{ color.hex }}</span>
                            </div>
                            <ol class="shades">
                                {% for shade in color.shades %}
                                    <li class="shade" style="background-color: {{ shade.hex }}">
                                        <span class="name text-{{ shade.textColor }}">{{ shade.name }}</span>
                                    </li>
                                {% endfor %}
                            </ol>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class="spacing">
        <div class="layout-content">
            <div class="headline">
                <h2>Spacing for Precision</h2>

                <div class="description">
                    One key element of the system was ensuring that spacing between components and text was precise and
                    scalable. The challenge was finding a simple yet effective system that could work across a wide
                    range of screen sizes. Using a 4-pixel increment system, which became the backbone of our design
                    layout. This gave us consistency and flexibility, whether designing small buttons or large banners.
                </div>
            </div>

            <div class="view"></div>
        </div>
    </section>

    <section class="icons">
        <div class="layout-content">
            <div class="headline">
                <h2>Crafting Icons</h2>

                <div class="description">
                    Icons needed to be more than just symbols — they had to carry meaning and match the visual identity
                    of the brand. The obstacle was creating a set of icons that were both geometric and easily
                    recognizable. By handcrafting each icon within a 24x24 px grid and adhering to a 4 px safe area, we
                    created a harmonious, functional set that helps users quickly understand functions and features.
                </div>
            </div>

            <ul class="list-large">
                {% set items = [
                    {'icon': 'envelope'},
                    {'icon': 'allocation-b2b'},
                    {'icon': 'arrow-circle-down'},
                    {'icon': 'arrow-to-bottom'},
                    {'icon': 'bundle'},
                    {'icon': 'branding-sticker'},
                    {'icon': 'calculate'},
                    {'icon': 'charging-euro'},
                    {'icon': 'claim'},
                    {'icon': 'close-circle'},
                ] %}
                {% for item in items %}
                    <li class="{{ item.icon }}"></li>
                {% endfor %}
            </ul>

            <div class="list-small">
                <img data-lightbox="on-small-vw" data-lightbox-scale="1" src="{{ asset_path('@Projects~' ~ project.slug ~ '/images/icons/icons.svg') }}" alt="Byrd design system icons">
            </div>
        </div>
    </section>

    <section class="components">
        <div class="layout-content">
            <div class="headline">
                <h2>Building Blocks</h2>

                <div class="description">
                    The design system had to include ready-made UI components that could be used across multiple
                    products to maintain consistency. But, how could we ensure each piece was not only functional but
                    intuitive and interactive? The answer was in building a comprehensive component library — from
                    buttons to forms to dropdowns — ensuring each element was optimized for user interaction and
                    aligned with the overall design system.
                </div>
            </div>

            <img data-lightbox="on-small-vw" data-lightbox-scale="1" src="{{ asset_path('@Projects~' ~ project.slug ~ '/images/components/components.svg') }}" alt="Byrd design system components subset">
        </div>
    </section>

    <section class="inclusive">
        <div class="layout-content">
            <div class="headline">
                <h2>Inclusive Design</h2>

                <div class="description">
                    Designing for accessibility is often overlooked, but we wanted to make sure Byrd’s products were
                    usable by everyone. The challenge was ensuring all users, including those with disabilities or
                    limited mobility, could interact efficiently with the interface. We tackled this by making
                    accessibility a priority, creating features like keyboard navigation, color contrasts, and
                    alternative text for images to make the system as inclusive as possible.
                </div>
            </div>

            <ul class="traits">
                {% set items = [
                    {
                        'title': 'See',
                        'list': [
                            {'name': 'Permanent', 'icon': 'blind', 'text': 'Blind'},
                            {'name': 'Temporary', 'icon': 'wearing-glasses', 'text': 'Wears glasses'},
                            {'name': 'Situational', 'icon': 'distracted', 'text': 'Distracted'},
                        ],
                    },
                    {
                        'title': 'Touch',
                        'list': [
                            {'name': 'Permanent', 'icon': 'one-arm', 'text': 'One arm'},
                            {'name': 'Temporary', 'icon': 'arm-injury', 'text': 'Arm injury'},
                            {'name': 'Situational', 'icon': 'holding-box', 'text': 'Holding box'},
                        ],
                    },
                    {
                        'title': 'Hear',
                        'list': [
                            {'name': 'Permanent', 'icon': 'deaf', 'text': 'Deaf'},
                            {'name': 'Temporary', 'icon': 'infection', 'text': 'Ear infection'},
                            {'name': 'Situational', 'icon': 'loud-environment', 'text': 'Loud around'},
                        ],
                    },
                    {
                        'title': 'Speak',
                        'list': [
                            {'name': 'Permanent', 'icon': 'non-verbal', 'text': 'Non-verbal'},
                            {'name': 'Temporary', 'icon': 'no-voice', 'text': 'Laryngitis'},
                            {'name': 'Situational', 'icon': 'language', 'text': 'Heavy accent'},
                        ],
                    },
                ] %}
                {% for item in items %}
                    <li>
                        <h3 class="head">{{ item.title }}</h3>
                        <ul class="list">
                            {% for trait in item.list %}
                                <li>
                                    <div class="name">{{ trait.name }}</div>
                                    <div class="icon {{ trait.icon }}"></div>
                                    <div class="text">{{ trait.text }}</div>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>

            <div class="focus">
                <ul class="example">
                    {% set items = [
                        {'label': 'Primary', 'background': '#293141', 'color': 'white'},
                        {'label': 'Secondary', 'background': '#62C2AF', 'color': 'black'},
                        {'label': 'Neutral', 'background': '#F2F2F2', 'color': 'black'},
                        {'label': 'White', 'background': '#FFFFFF', 'color': 'black'},
                    ] %}
                    {% for item in items %}
                        <li style="background-color: {{ item.background }};">
                            <div class="image">
                                <img src="{{ asset_path('@Projects~' ~ project.slug ~ '/images/inclusive/button-focus.svg') }}" alt="Byrd button focus example">
                            </div>
                            <div class="label {{ item.color }}">{{ item.label }}</div>
                        </li>
                    {% endfor %}
                </ul>

                <div class="description">
                    <h3>Focus State</h3>

                    <div class="text">
                        <p>
                            To make our focus state more visible and accessible, we used a combination of primary and white
                            colors for the border. This contrast helps the focus indicator stand out clearly on both light
                            and dark backgrounds. It improves visibility for all users, especially those using keyboard
                            navigation.
                        </p>
                        <p>
                            Using both a light (white) and a dark (primary) color ensures the focus style has enough
                            contrast, no matter the background. This technique supports better accessibility and visual
                            clarity. It's a simple but thoughtful way to make the interface more inclusive and easier to use
                            for everyone.
                        </p>
                    </div>
                </div>
            </div>

            <div class="buttons">
                <img data-lightbox="on-small-vw" data-lightbox-scale="1" src="{{ asset_path('@Projects~' ~ project.slug ~ '/images/inclusive/buttons.svg') }}" alt="Byrd design system buttons">
            </div>
        </div>
    </section>

    <section class="interaction">
        <div class="layout-content">
            <div class="headline">
                <h2>Dynamic Interaction</h2>

                <div class="description">
                    We wanted the user experience to feel engaging and fluid, so motion design became a key element.
                    The challenge was adding subtle animations that didn’t overwhelm the user but still captured their
                    attention when interacting with key elements like buttons or progress bars. By experimenting with
                    motion effects, we managed to enhance the interactivity of the interface, guiding users through the
                    app in a natural, intuitive way.
                </div>
            </div>

            <video src="{{ asset_path('@Projects~' ~ project.slug ~ '/images/interaction/login.mp4') }}" autoplay muted loop playsinline aria-label="Byrd login interaction animation"></video>
        </div>
    </section>

    <section class="splash">
        <div class="layout-content">
            <img src="{{ asset_path('@Projects~' ~ project.slug ~ '/images/splash/splash.png') }}" alt="Collage of screenshots with Byrd design system">
        </div>
    </section>

    <section class="reflections">
        <div class="layout-content">
            <div class="headline">
                <h2>Reflections & Takeaways</h2>

                <div class="description">
                    I really enjoyed working on this project. It started with me deepening my skills in Sketch and
                    Figma, and staying on top of the latest updates. One of the highlights was how it brought our design
                    and development teams closer together. We spent time educating the devs on how to use our design
                    system properly, and they built a Storybook to support consistent component usage. In the end, it
                    was a valuable investment: the design system helped us create layouts much faster and with more
                    confidence.
                </div>
            </div>
        </div>
    </section>
{% endblock %}
