{# @var project \App\Projects\Project #}

{% extends '@Projects~_shared/_project.html.twig' %}

{% block content_project %}
    <section class="title">
        <div class="layout-content">
            <h1>{{ project.name }}</h1>
            <img src="{{ asset_path('@Projects~' ~ project.slug ~ '/images/byrd-logo.svg') }}" alt="byrd logo">
        </div>
    </section>

    <section class="cover">
        <div class="layout-content"></div>
    </section>

    <section class="about">
        <div class="layout-content">
            <div class="headline">
                <h2>About the Project</h2>

                <div class="description">
                    When I joined Byrd, the company was in the midst of scaling its digital products. There was a
                    challenge — no unified design system that could ensure consistency across all platforms. My
                    colleague, <strong>Vedran Jukić</strong> had already kickstarted the process by laying the
                    foundation, but it needed refining and expanding. This was where I came in. Together, we embarked
                    on the journey to create a seamless, cohesive design system for Byrd’s ever-growing product suite.
                </div>
            </div>
        </div>
    </section>

    <section class="highlights">
        <div class="layout-content">
            <div class="headline">
                <h2>Clean Design Library</h2>
            </div>

            <ul class="list">
                {% set items = [
                    {
                        'image': 'icons.png',
                        'alt': 'byrd icons example',
                        'text': '152 Hand-crafted icons',
                    },
                    {
                        'image': 'components.png',
                        'alt': 'byrd components example',
                        'text': '58 Components',
                    },
                    {
                        'image': 'variants.png',
                        'alt': 'byrd variants example',
                        'text': '240 Variants',
                    },
                ] %}
                {% for item in items %}
                    <li>
                        <img src="{{ asset_path('@Projects~' ~ project.slug ~ '/images/highlights/' ~ item.image) }}" alt="{{ item.alt }}">
                        <div class="text">{{ item.text }}</div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
